name: Package Addon

on:
    push:
        tags:
            - 'v*' # Trigger when a new tag with a version is pushed

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                fetch-depth: 0 # Fetch all history for tags
                
            # Generate addon .zip package using the .pkgmeta file
            - name: Package with .pkgmeta
              uses: BigWigsMods/packager@v2
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            # Create a release and attach the .zip file as an artifact
            - name: Create GitHub Release
              id: create_release
              uses: actions/create-release@v1
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                tag_name: ${{ github.ref_name }}
                release_name: Release ${{ github.ref_name }}
                draft: true
                prerelease: false